.root, .pane{
    -fx-background-color: black;
}

.text, .label{
    -fx-text-fill: #cccccc;
    -fx-font-size: 2em;
}

.menu-item .label{
    -fx-text-fill: black;
}

.tree-table-view .label, .choice-box .label, .value{
    -fx-text-fill: black;
}

.CalendarTimePickerSkin .timeLabel{
    -fx-fill: -fx-accent;
    -fx-font-weight: bold;
    -fx-opacity: 1;
}

#hourSlider{
    -fx-padding: 2.5em 0em 0em 0em;
    -fx-focus-traversable: false;
}

#minuteSlider{
    -fx-focus-traversable: false;
}

#searchAccountsField, #addAccountField{
    -fx-padding: 10px;
}

.text-area{
    -fx-wrap-text: true;
    -fx-font-size: 1.5em;
}

.text-field, .text-field:focused{
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
    -fx-font-size: 1.5em;
}

.onHover{
    -fx-background-color: orange;
}

#folderName{
    -fx-fill: #cccccc;
    -fx-font-size: 2em;
}