.root, .pane{
    -fx-background-color: black;
}

.text, .label{
    -fx-fill: #cccccc; 
    -fx-font-size: 2em;
}

#searchAccountsField, #addAccountField{
    -fx-padding: 10px;
}

.text-area{
    -fx-wrap-text: true;
    -fx-font-size: 1.5em;
}

.text-field, .text-field:focused{
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

.onHover{
    -fx-background-color: orange;
}