.button {
    -fx-font-weight: bold;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 80%; 
    -fx-background-radius: 3em;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focus-traversable: false;
}

#homeBtn{
    -fx-background-image: url("/image/house.png");
}

#accountsBtn{
    -fx-background-image: url("/image/user.png");
}

#notesBtn{
    -fx-background-image: url("/image/notepad.png");
}

#importExportBtn{
    -fx-background-image: url("/image/file-zip-alt.png");
}

#infoBtn{
    -fx-background-image: url("/image/sign-info.png");
}

#saveBtn{
    -fx-background-image: url("/image/floppy.png");
}

.text, .label{
    -fx-font-size: 2em;
}

.text-area{
    -fx-wrap-text: true;
}
